<div class="container">
  <mat-card appearance="outlined">
    <mat-card-title>
      <p class="page-title">Revisão do Pedido</p>
    </mat-card-title>
    <mat-card-content>
      @if (order) {
      <table mat-table [dataSource]="order.list" class="mat-elevation-z8">
        <ng-container matColumnDef="currency_name">
          <th mat-header-cell *matHeaderCellDef>Moeda</th>
          <td mat-cell *matCellDef="let element">
            {{ element.currency_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Cédula/Face</th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef>QTD</th>
          <td mat-cell *matCellDef="let element">{{ element.qtd }}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.total | currency : "" : "" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="total_value">
          <th mat-header-cell *matHeaderCellDef>Total R$</th>
          <td mat-cell *matCellDef="let element">
            {{ element.total_value | currency }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="total-container">
        <p>Total</p>
        <!-- <p>{{ order.total | currency : "" : "" }}</p> -->
        <p>{{ order.total_value | currency }}</p>
      </div>

      @if (order.user) {
      <div class="form-container">
        <mat-form-field class="input-container">
          <mat-label>Nome</mat-label>
          <input
            disabled
            matInput
            placeholder="Informe seu nome"
            type="text"
            [(ngModel)]="order.user.name"
          />
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>Email</mat-label>
          <input
            disabled
            matInput
            placeholder="Informe seu email"
            type="email"
            [(ngModel)]="order.user.email"
          />
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>CPF</mat-label>
          <input
            disabled
            matInput
            placeholder="Informe seu CPF"
            type="text"
            [(ngModel)]="order.user.document"
            mask="000.000.000-00"
          />
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>Telefone</mat-label>
          <input
            disabled
            matInput
            placeholder="Informe seu telefone"
            type="text"
            [(ngModel)]="order.user.phone"
            mask="(00) 00000-0000"
          />
        </mat-form-field>
      </div>
      }

      <div class="button-container">
        <a mat-raised-button routerLink="/pedido">Voltar</a>
        <button mat-raised-button (click)="submitOrder()">
          Revisar pedido
        </button>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
