<div class="container">
  <mat-card appearance="outlined">
    <mat-card-title>
      <p class="page-title">Pedido</p>
    </mat-card-title>
    <mat-card-content>
      @if(loading) {
      <div class="loading-container">
        <mat-spinner></mat-spinner>
        <p>Carregando cotações</p>
      </div>
      } @else { @if(data.length){
      <mat-tab-group>
        @for (item of data; track $index) {

        <mat-tab
          [label]="`${item.nome}: ${item.formatted_currency_value}`"
          [id]="item.id"
        >
          <table mat-table [dataSource]="item.order_config">
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Célula/Face</th>
              <td mat-cell *matCellDef="let element">{{ element.value }}</td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef>QTD</th>
              <td mat-cell *matCellDef="let element; let index = index">
                <input
                  type="number"
                  min="0"
                  [value]="element.qtd"
                  (input)="updateValue($event, $index, index)"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let element">
                {{ element.total | currency : "" : "" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="total_value">
              <th mat-header-cell *matHeaderCellDef>Total R$</th>
              <td mat-cell *matCellDef="let element">
                {{ element.total_value | currency }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <p>{{ item.total }}</p>
          <p>{{ item.total_value | currency }}</p>
        </mat-tab>

        }
      </mat-tab-group>

      <div class="total-container">
        <p>Total</p>
        <p>{{ order.total | currency : "" : "" }}</p>
        <p>{{ order.total_value | currency }}</p>
      </div>

      <div class="form-container" [formGroup]="form">
        <mat-form-field class="input-container">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Informe seu nome"
            type="text"
            formControlName="name"
          />
          @if (form.get('name')?.hasError('required')) {
          <mat-error>O nome é <strong>obrigatório</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Informe seu email"
            type="email"
            formControlName="email"
          />

          @if (form.get('email')?.hasError('email') &&
          !form.get('email')?.hasError('required')) {
          <mat-error>Informe um email válido</mat-error>
          } @if (form.get('email')?.hasError('required')) {
          <mat-error>O email é <strong>obrigatório</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>CPF</mat-label>
          <input
            matInput
            placeholder="Informe seu CPF"
            type="text"
            mask="000.000.000-00"
            formControlName="document"
          />
          @if (form.get('document')?.hasError('required')) {
          <mat-error>O CPF é <strong>obrigatório</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            placeholder="Informe seu telefone"
            type="text"
            formControlName="phone"
            mask="(00) 00000-0000"
          />
          @if (form.get('phone')?.hasError('required')) {
          <mat-error>O Telefone é <strong>obrigatório</strong></mat-error>
          }
        </mat-form-field>
      </div>

      <div class="button-container">
        <button
          mat-raised-button
          (click)="saveOrder()"
          [disabled]="!form.valid"
        >
          Revisar pedido
        </button>
      </div>
      } @else {

      <div class="empty-container">
        <p>Erro ao carregar cotações</p>
        <button mat-raised-button (click)="getData()">Tentar novamente</button>
      </div>
      } }
    </mat-card-content>
  </mat-card>
</div>
