@if(loading) {
  <div></div>
} @else {
<mat-tab-group>
  @for (item of data; track $index) {

    <mat-tab [label]="`${item.nome}: ${item.formatted_currency_value}`" [id]="item.id"> 
      <table mat-table [dataSource]="item.order_config">
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Célula/OrderConfig </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef> QTD </th>
          <td mat-cell *matCellDef="let element; let index = index;"> 
            <input type="number" [value]="element.qtd" (input)="updateValue($event, $index ,index)">
          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total.toFixed(2)}} </td>
        </ng-container>
        <ng-container matColumnDef="total_value">
          <th mat-header-cell *matHeaderCellDef> Total R$ </th>
          <td mat-cell *matCellDef="let element"> {{element.total_value  | currency: 'BRL'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </mat-tab>
  }
</mat-tab-group>
<p>{{order.total | currency: 'BRL'}}</p>
<p>{{order.total_value | currency: 'BRL'}}</p>

<input type="text" [(ngModel)]="order.user.name" >
<input type="email" [(ngModel)]="order.user.email" >
<input type="text" [(ngModel)]="order.user.document" mask="000.000.000-00">
<input type="text" [(ngModel)]="order.user.phone" mask="(00) 00000-0000">

<button (click)="saveOrder()">Revisar pedido</button>
}
