/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding: 2rem;
}

.input-container {
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px
}

.total-container {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-bottom: 20px
}
.total-container p {
    font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: end;
    gap: 20px
}
.button-container button {
    margin-bottom: 10px;
}

.empty-container,
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.page-title {
    text-align: center
}